.end-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.jobs-item

.jobs-item .requirement {

  flex-flow: wrap;
}

.jobs-item .jobs-content {
  margin-left: 3.125rem;
}

.jobs-item .jobs-content div:nth-child(1n) {
  margin-top: 5px;
}

.jobs-item .requirement {
  display: flex;
}

.jobs-content .company-name,
.jobs-content .location-company-type {
  color: #505863;
  line-height: 1.1875rem;
}

.jobs-item .company-logo img {
  width: 80px;
}

.jobs-content .job-name {
  font-size: 1.5rem;
  color: #464646;
  line-height: 1.75rem;
  font-weight: bold;
}

.salary {
  color: #26A69A;
  line-height: 1.1875rem;
}

.salary .fa-dollar-sign {
  color: #26A69A;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.requirement .requirement-item {
  padding: 2px 12px;
  border-radius: 4px;
  border: 1px solid #757575;
  line-height: 1.1875rem;
  margin-right: 10px;
  margin-bottom: 10px;
}

.jobs-item {
  padding-bottom: 1.25rem;
  display: flex;
  border: none;
  margin-top: 3.125rem;
  background-color: white;
  padding: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 32px;
}

.job-content {
  padding-top: 80px;
  text-align: center;
  padding-bottom: 20px;
}

.jobs-item .requirement {
  flex-flow: wrap;
}

.job-content>div {
  margin-top: 15px;
  line-height: 19px;
}

.job-content>div:first-child {
  margin-top: 0px;
}

.jobs-item:first-child {
  margin: 0;
}

.jobs-item,
.jobs-item .jobs-content {
  width: 100%;
}

@media (max-width: 768px) {
  .jobs-item {
    width: 100%;
  }
}

@media (max-width: 413px) {
  .jobs-item .jobs-content {
    margin-left: 20px;
  }
}

@media (max-width: 320px) {
  .jobs-content .job-name {
    font-size: 1.1rem;
  }
}

@media (max-width: 767px) {
  .end-wrapper {
    flex-flow: column;
    align-items: flex-start;
  }
}

@media (max-width: 400px) {
  .jobs-content .job-name {
    word-break: break-word;
  }
}
